@font-face {
    font-family: 'MyFont';
    src: url('./todo-font.otf');
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'MyFont';
}

body {
    display: flex;
    background-color: #fffdd0;
}

#sidebar {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 270px;
    
}

#sideBarHeader {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}

#logo {
font-size: 50px;

}

#sideIcon {
    margin-right: 5px;
    margin-left: 6vh;
}

#myPaper {
    height: 50px;
}


    



.tabs {
    height: 65px;
    width: 135px;
    background-color: #fffdd0;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 3px 1px 1px black;
    color: royalblue;
    font-family: 'MyFont';
    font-size: 25px;
    align-self: center;


}

.tabs:active {
    transform: translate(2px, 2px);
}

.tabs:hover {
    background-color: #eeedd3;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

#tasksHeader, #projectsHeader, #completedTasksHeader, #viewProjectHeader {
    align-self: center;
    margin-bottom: 5px;
    font-size: 35px;
}

#newTaskButton, #newProjectButton, #backButton {
    font-family: 'MyFont';
    width: 130px;
    height: 28px;
    border-radius: 5px;
    background-color: #fffdd0;
    font-size: 18px;
    color: royalblue;
}

#newProjectButton {
    font-size: 16px;
}

#newTaskButton:hover, #newProjectButton:hover, #backButton:hover  {
    background-color: #eeedd3;
}

#newTaskButton:active, #newProjectButton:active, #backButton:active {
    transform: translate(2px, 2px);
}

#taskCard, #projectCard {
    display: flex;
    border: 1px solid black;
    border-left:2px solid red;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60vw;
    height: 30px;
}

#taskCard {
    min-height: 30px;
}

#projectCard {
    height: 40px;
    font-size: 22px;
}

#displayName, #displayDueDate, #displayCompleted, #displayNotes, #displayPriority, #displayProjectName {
    align-self: center;
    padding-left: 2px;
    

}
